{% extends 'base.html' %}

{% block app_content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<form>
От : <input type="date" id="start_time_from_request" name="start_time_from_request" placeholder="Дата">&nbsp;&nbsp;
До : <input type="date" id="end_time_from_request" name="end_time_from_request" placeholder="Дата">&nbsp;&nbsp;<br><br>
Search by user: <input type="text" id="search_user_from_request" name="search_user_from_request">
<input type="checkbox" id="request_checkbox" name="request_checkbox" value="request_checkbox">
<label for="user_delete_checkbox"> delete.checkbox</label><br>
&nbsp;&nbsp;<button type="submit">Submit</button>

<div id="ex1" class="modal">
    <input type="hidden" id="current-edit-id" name="" value="">
    <form id="id_comment_tasks">
    <p><b>Change start time:</b></p>
    <input id="modal-time-start" name="edit_start_time_admin" type="text" >
    <p><b>Change end time:</b></p>
    <input id="modal-time-stop" name="edit_end_time_admin" type="text" >
    <p><b>Сhange comment:</b></p>
    <textarea name="edit_comment_admin" id="modal-comment-text"  cols="40" rows="5"></textarea><br>
    <p><b>Сhange task:</b></p>
    <textarea name="edit_task_admin" id="modal-task-text" cols="40" rows="5"></textarea><br>
    <a href="#" rel="modal:close" ><button type="submit" id="edit-record-button">Изменить</button></a>
    </form>
</div>

<div id="ex2" class="modal">
    <input type="hidden" id="current-delete-id" name="" value="">
    <form id="delete_comment_task">
    <h1> You definitely want to delete </h1>
    <a href="#" rel="modal:close"><button type="submit" id="delete-button" name="show_true">Yes</button></a>
    <a href="{{ url_for('main.admin_room') }}"><button type="submit">NO</button></a>
    </form>
</div>

<div id="ex3" class="modal">
    <input type="hidden" id="current-return-delete" name="" value="">
    <form>
    <h1> You wanna return delete record? </h1>
    <a href="#" rel="modal:close"><button type="submit" id="return-button">Yes</button></a>
    <a href="{{ url_for('main.admin_room') }}"><button type="submit">NO</button></a>
    </form>
</div>

<table class="table" id="table-to-refresh">
  <thead>
    <tr>
      <th scope="col">del?</th>
      <th scope="col">От:</th>
      <th scope="col">До:</th>
      <th scope="col">User:</th>
      <th scope="col">Comment</th>
      <th scope="col">Task</th>
      <th scope="col">Change</th>
      <th scope="col">Delete</th>
      <th scope="col">Return Delete</th>
    </tr>
    <br>

    {% for date in time_list_set %}
    <tr>
    <td>{{ date.deleted }}</td>
    <td>{{ date.start_time }}<br> </td>
    <td>{{ date.end_time }}</td>
    <td>{{ date.username }}</td>
    <td>{{ date.comment }}</td>
    <td>{{ date.tasks }}</td>
    <td><a id={{date.id}} class="openmodal" href="#ex1" rel="modal:open">Edit</a></td>
    <td><a id="delete-{{date.id}}" class="deletetimerecord" href="#ex2" rel="modal:open">Delete</a></td>
    <td><a id="return-{{date.id}}" class="returnRecord" href="#ex3" rel="modal:open">Return</a></td>
    {% endfor %}
     </tr>
  </thead>
</table>
</form>
<script>
    $(document).ready(function(){
    var settings = {
    "async": false,
}


    var functionGetRecord = function(event){
        console.log(event.target.id)
    $.ajax({
        type: "GET",
        url: '/api/edit_all/' + event.target.id,
        dataType: "json",
        success: function(data) {
        console.log(data)
    $('#modal-comment-text').val(data.comment);
    $('#modal-task-text').val(data.task);
    $('#modal-time-start').val(data.start_time);
    $('#modal-time-stop').val(data.end_time);
    $('#current-edit-id').val(event.target.id)

        },
    });
    }

    var functionEditRecord = function(event){
        console.log(event)
        event.preventDefault();
    var comment = $('#modal-comment-text').val()
    var task = $('#modal-task-text').val()
    var time_start = $('#modal-time-start').val()
    var time_end = $('#modal-time-stop').val()
    var id = $('#current-edit-id').val()
    var data = {
        edit_comment_admin: comment,
        edit_task_admin: task,
        edit_start_time_admin: time_start,
        edit_end_time_admin: time_end
        }
        console.log(data)
    $.ajax({
        type: "POST",
        url: '/api/edit_all/' + id,
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function(data) {
        $('#' + id).parent().parent().find('td:eq(1)').html(data.start_time)
        $('#' + id).parent().parent().find('td:eq(2)').html(data.end_time)
        $('#' + id).parent().parent().find('td:eq(4)').html(data.comment)
        $('#' + id).parent().parent().find('td:eq(5)').html(data.tasks)
        },
    });
    }
        var functionDeleteRecord = function(event){
        console.log(event.target.id) // ===== 'delete-7'
        $('#current-delete-id').val(event.target.id);
    }

    var functionDeleteRecordYes = function(event){
        console.log("this is value from hidden fill -->",$('#current-delete-id').val())
        console.log(event)
        event.preventDefault();

        //Java script String indexOF and JavaScript String substring() Method
        var rawId = $('#current-delete-id').val()
        var id = rawId.substring(rawId.indexOf("-")+1)

    $.ajax({
        type: "DELETE",
        url: '/api/remove/' + id,
        data: '',
        success: function (data) {
            console.log(data)
            var text = '';
            if (data.deleted === true){
                text = 'True'
            }else{
                text = 'False'
            }
            $('#' + id).parent().parent().find('td:eq(0)').html(text);
        },
    });
    }

    var functionReturnRecord = function(event){
        console.log(event.target.id)
        $('#current-return-delete').val(event.target.id);

    }

    var functionReturnRecordYes = function(event){
        console.log("this is value from hidden fill -->",$('#current-return-delete').val())
        console.log(event)
        event.preventDefault();

        //Java script String indexOF and JavaScript String substring() Method
        var rawId = $('#current-return-delete').val()
        var id = rawId.substring(rawId.indexOf("-")+1)

    $.ajax({
        type: "POST",
        url: '/api/return/delete/' + id,
        data: '',
        success: function(data) {
            console.log(data)
            var text = '';
            if (data.returned === false){
                text = 'False'
            }else{
                text = 'True'
            }
            $('#' + id).parent().parent().find('td:eq(0)').html(text)
        },
    });
    }


$('#modal-time-start').datetimepicker();
$('#modal-time-stop').datetimepicker();

$('.returnRecord').on('click', functionReturnRecord)
$('#return-button').on('click', functionReturnRecordYes);

$('.deletetimerecord').on('click', functionDeleteRecord)

$('.openmodal').on('click', functionGetRecord);
$('#edit-record-button').on('click', functionEditRecord);
$('#delete-button').on('click', functionDeleteRecordYes);
});
</script>

{% endblock%}
