{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content%}
<form>
От : <input type="date" id="start_time_from_request" name="start_time_from_request" placeholder="Дата">&nbsp;&nbsp;
До : <input type="date" id="end_time_from_request" name="end_time_from_request" placeholder="Дата">&nbsp;&nbsp;
&nbsp;&nbsp;<button type="submit">Submit</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">От:</th>
      <th scope="col">До:</th>
      <th scope="col">Начало:</th>
      <th scope="col">Конец:</th>
    </tr>
    <br>
    <h1>{{ sum_hours_all }} hour </h1>
    {% for date in interval %}
    <tr>
    <td>{{ start_time_cal }}</td>
    <td>{{ end_time_cal }}</td>
    <td>{{ date.start_time }}<br> </td>
    <td>{{ date.end_time }}</td>
    {% endfor %}
     </tr>
    
  </thead>
</table>
</form>
{% endblock %}
