{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<form action="" method="post">
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<label><h4>Question is : {{ question }}</label></h4><br>
		       <label>Answer</label>
            <div class="form-group pass_show">
            	<input type="hidden" name="user_id" value="{{user_id}}">
                <input type="text" name="user_answer_form" id="user_answer_form" class="form-control" placeholder="Write asnwer "> 
            </div> 
           <button type="submit">Submit</button> 
		</div>  
	</div>
</div>
</form>
{% endblock %}