{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1> You wanna delete? </h1>
<a href="{{ url_for('main.delete_adm', id_= id_from_view)  }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Yes</a>
<a href="{{ url_for('main.index') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">No</a><br>
{% endblock %}