{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<button type="button" id="start-button" class="btn btn-info btn-lg">Start time</button>
<a href="#ex1" rel="modal:open"><button type="button" class="btn btn-info btn-lg">Stop time</a></button>

<div id="ex1" class="modal">
    <form id="stop-time">
    <p><b>Сomment</b></p>
    <textarea name="comment" id="comment" cols="40" rows="5"></textarea><br>
    <p><b>Task</b></p>
    <textarea name="tasks" id="tasks" cols="40" rows="5"></textarea><br>
    <a href="#" rel="modal:close"><button type="submit" id="add-stop-time" >Stop timer</button></a>
    </form>
</div>

<div id="ex2" class="modal">
    <input type="hidden" id="current-edit-id" name="" value="">
    <form id="id_comment_tasks">
    <p><b>Сhange comment</b></p>
    <textarea name="edit_comment" id="modal-comment-text"  cols="40" rows="5"></textarea><br>
    <p><b>Change task</b></p>
    <textarea name="edit_task" id="modal-task-text" cols="40" rows="5"x></textarea><br>
    <a href="#" rel="modal:close" ><button type="submit" id="edit-record-button">Change</button></a>
    </form>
</div>

<div id="ex3" class="modal">
    <input type="hidden" id="current-delete-id" name="" value="">
    <form id="delete_comment_task">
    <h1> You definitely want to delete </h1>
    <a href="#" rel="modal:close"><button type="submit" id="delete-button">Yes</button></a>
    <a href="{{ url_for('main.index') }}"><button type="submit">NO</button></a>
    </form>
</div>

<h1>Hi, {{ current_user.username }}!</h1>

<h1 id = 'minute-total'>{{minutes_total}} hour</h1>




<table class="table" id="time-table">
  <thead>
    <tr>
      <th scope="col">Start Time</th>
      <th scope="col">Stop time</th>
      <th scope="col">Stop - Start</th>
      <th scope="col">Comment</th>
      <th scope="col">task</th>
      <th scope="col">edit</th>
      <th scope="col">delete</th>
    </tr>
    {% for time in user_time_set %}
    <tr id="record-{{time.id}}">
      <td>{{ time.start_time }}</td>
      <td>{{ time.end_time }}</td>
      <td>{{ time.check_time }}</td>
      <td>{{ time.comment }}</td>
      <td>{{ time.tasks }} </td>
      <td><a id={{time.id}} class="openmodal" href="#ex2" rel="modal:open">Edit</a></td>
      <td><a id="delete-{{time.id}}" class="deletetimerecord" href="#ex3" rel="modal:open">Delete</a></td>
     </tr>
    {% endfor %}
  </thead>
</table>

<script>
    $(document).ready(function(){
    var settings = {
    "async": false,
}

    var functionStartTime = function(event) {
    console.log(event);
    console.log($(this).text());
    $.ajax({
        type: "GET",
        url: "api/time-tracking/start",
        dataType: "json",
        success: function(data) {
        console.log(data.id)
            $('#time-table tr:last').after('<tr ' + 'id=record-'+ data.id + '><td>'+ data.time + '</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>');
        },
    });
    }

    var stopTimerCallBack = function(event) {
        console.log(event);
        event.preventDefault();
        var comment = $('#comment').val();
        var payload = {
            comment: comment
        }
        console.log(JSON.stringify(payload))

        var tasks = $('#tasks').val();
        var payload = {
            tasks: tasks
        }
        console.log(JSON.stringify(payload))

    $.ajax({
        type: "POST",
        url: "api/time-tracking/stop",
        contentType: 'application/json',
        data: '{"comment": "' + comment + '", "tasks" : "' + tasks + '"}',
        success: function(data) {
        $('#minute-total').html(data.minutes_total);
        $('#time-table tr:last td:eq(1)').html(data.time);
        $('#time-table tr:last td:eq(2)').html(data.time_reprentation);
        $('#time-table tr:last td:eq(3)').html(data.comments);
        $('#time-table tr:last td:eq(4)').html(data.task);
        var editButton = "<a id=\'"+  data.id +"\' class=\'openmodal\' href=\'#ex2\' rel=\'modal:open\'>Edit</a>"
        $('#time-table tr:last td:eq(5)').html(editButton);
        var deleteButton = "<a id=\'"+ data.id +"\ class=\'deletetimerecord\' \ href=\'#ex3\'' rel=\'modal:open\'>Delete</a>"
        $('#time-table tr:last td:eq(6)').html(deleteButton);
        },
        error: function(data) {
            alert(data.responseJSON.error); 
            }
    });
    }

    var functionGetRecord = function(event){
        console.log(event.target.id)
        $.ajax({
        type: "GET",
        url: 'api/edit/' + event.target.id,
        dataType: "json",
        success: function(data) {
        $('#modal-comment-text').val(data.comment);
        $('#modal-task-text').val(data.task);
        $('#current-edit-id').val(event.target.id)
        },
    });

    }
    var functionEditRecord = function(event){
        console.log(event)
        event.preventDefault();
        var comment = $('#modal-comment-text').val()
        var task = $('#modal-task-text').val()
        var data = {edit_comment: comment, edit_task: task}
        var id = $('#current-edit-id').val()
        $.ajax({
        type: "POST",
        url: 'api/edit/' + id,
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function(data) {
        },
    });
    }

    var functionDeleteRecord = function(event){
        console.log(event.target.id)
        $('#current-delete-id').val(event.target.id);
    }
    var functionDeleteRecordYes = function(event){
        console.log("this is value from hidden fill -->",$('#current-delete-id').val())
        console.log(event)
        event.preventDefault();

        //Java script String indexOF and JavaScript String substring() Method
        var rawId = $('#current-delete-id').val()
        var id = rawId.substring(rawId.indexOf("-")+1)

        console.log(id)
        console.log("current, id -- >> ", id)

    $.ajax({
        type: "DELETE",
        url: '/api/remove/' + id,
        data: '',
        success: function(event) {
            $('#record-' + id).remove();
        },
    });
    }

$('#add-stop-time').on('click', stopTimerCallBack)
$('#start-button').on('click', functionStartTime);
$('.openmodal').on('click', functionGetRecord)
$('.deletetimerecord').on('click', functionDeleteRecord)
$('#edit-record-button').on('click', functionEditRecord)
$('#delete-button').on('click', functionDeleteRecordYes)

  });
</script>
{% endblock %}

