{% extends 'base.html'%}

{% block app_content %}
<form action="" method="post">
<div class="container">
	<div class="row">
		<div class="col-sm-4">
		       <label>New Password</label>
            <div class="form-group pass_show"> 
                <input type="password" name="change_password_first" id="change_password" class="form-control" placeholder="New Password"> 
            </div> 
		       <label>Confirm Password</label>
            <div class="form-group pass_show"> 
                <input type="password" name="change_password_second" id="change_password_second" class="form-control" placeholder="Confirm Password"> 
            </div> 
           <button type="submit">Submit</button> 
		</div>  
	</div>
</div>
</form>
{% endblock %}