{% extends 'base.html' %}

{% block app_content %}
    <title>Upload new File</title>
    <h1>Upload new Picture</h1><br>
    <form method=post enctype=multipart/form-data ><br>
      <input type=file name=file><br>
      <input type=submit value=Upload><br>
    </form>
{% endblock %}

