{% extends 'base.html'%}

{% block app_content %}
<!-- form to change username and email -->
<div id="ex1" class="modal">
    <form id="change-username">
    <p><b>Change username</b></p>
    <textarea name="edit_username" id="modal-get-username" cols="40" rows="5"></textarea><br>
    <p><b>Change email</b></p>
    <textarea name="edit_user_email" id="modal-get-email" cols="40" rows="5"></textarea><br>
    <a href="#" rel="modal:close"><button type="submit" id="save-changes" >Change</button></a>
    </form>
</div>
<!-- form to change password -->
<div id="ex2" class="modal">
    <form id="change-password">
            <div class="form-group pass_show"> 
                <label>Current password</label>
                <input type="password" name="change_password" id="change-current-password" class="form-control" autocomplete="on">
            </div> 
               <label>New Password</label>
            <div class="form-group pass_show"> 
                <input type="password" name="change_password_first" id="change-password-1" class="form-control" autocomplete="on">
            </div> 
               <label>Confirm Password</label>
            <div class="form-group pass_show"> 
                <input type="password" name="change_password_second" id="change-password-2" class="form-control" autocomplete="on">
            </div> 
           <button type="submit" id="save-password-changes">Submit</button>
    </form>
</div>
<!-- form to add photos -->
<div id="ex3" id="data" class="modal">
    <form method=post enctype=multipart/form-data  id="change-photo"><br>
    <h1>Upload new Picture</h1><br>
    <input type=file name=file id="userfile"><br>
    <a href="#" rel="modal:close"><input type=submit id="save-photo" value=Upload><br></a>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <table id="table-refresh">
        <tr valign="top">
            <td><img id="change-image" src="/uploads/{{ show_photo.filename }}"  style="width:225px; height:225px;"></td>
            <tr><td>{{ current_user.username}}<br></td></tr>
            <tr><td>{{ current_user.email }}<br></td></tr>
            <tr><td><a href="#ex1" rel="modal:open" class="openmodal">Change username or email </a><br></td></tr>
            <tr><td><a href="#ex2" rel="modal:open" class="open-change-password">Change password </a><br></td></tr>
            <tr><td><a href="#ex3" rel="modal:open" class="change-picture">Change image </a><br></td></tr>
            </td>
        </tr>
    </table>
<script>
    $(document).ready(function(){
    var settings = {
    "async": false,
}
    var functionOpenChangeWindow = function(event){
        console.log(event);
        $.ajax({
            type: "GET",
            url: '/api/edit/username',
            dataType: "json",
            success: function(data) {
                console.log(data)
            $('#modal-get-email').val(data.change_email);
            $('#modal-get-username').val(data.change_username);
        },
    });
    }
    var functionSaveChanges = function(event){
        console.log(event)
        var username_edit = $('#modal-get-username').val()
        var email_edit = $('#modal-get-email').val()
        var data = {
            edit_username: username_edit,
            edit_user_email: email_edit
         }
        console.log('this is ', data)
        $.ajax({
            type: "POST",
            url: '/api/edit/username',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(data) {
                $('#table-refresh td:eq(1)').html(data.username);
                $('#table-refresh td:eq(2)').html(data.email);
                var changeUsernameButton = "<a href=\'#ex1'\ rel=\'modal:open'\ class=\'openmodal\'>Change username or email</a>"
                $('#table-refresh td:eq(3)').html(changeUsernameButton);
                var changePusswordButton = "<a href=\'#ex2'\ rel=\'modal:open'\ class=\'open-change-password\'>Change password</a>"
                $('#table-refresh td:eq(4)').html(changePusswordButton);
                var changeImageButton = "<a href=\'#ex3'\ rel=\'modal:open'\ class=\'change-picture'\>Change image </a>"
                $('#table-refresh td:eq(5)').html(changeImageButton);
        },
            error: function(data) {
                alert(data.responseJSON.error); 
        }
    });
    }
    var functionOpenChangePassword = function(event){
        console.log(event)
    }
    var functionChangePassword = function(event){
        console.log(event);
        event.preventDefault();
        var check_real_password = $('#change-current-password').val()
        var change_first_password = $('#change-password-1').val()
        var change_second_password = $('#change-password-2').val()
        var data = {
            change_password: check_real_password,
            change_password_first: change_first_password,
            change_password_second: change_second_password
        }
        console.log('password data --->', data)
        $.ajax({
            type: "POST",
            url: '/api/create_new_password',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(data) {
        },
    });
    }

    var functionOpenChangePicture = function(event){
        console.log(event)
    }

    $('#save-photo').click(function(event){
            event.preventDefault();
            console.log('upload button clicked!')

            var data = new FormData();
            console.log($('#userfile')[0].files[0]);
            data.append( 'file', $('#userfile')[0].files[0]);
            $.ajax({
              url: '/api/upload',
              data: data,
              contentType: false,
              processData: false,
              type: 'POST',
              success: function(data){
                console.log('data is ?', data)
                console.log('upload success!')
                console.log($("#change-image"))
                $("#change-image").removeAttr("src").attr("src", "uploads/" + data.file + "");

                },
                error: function() {

                } 
            });
        });

$('.openmodal').on('click', functionOpenChangeWindow)
$('#save-changes').on('click', functionSaveChanges)
$('.open-change-password').on('click', functionOpenChangePassword)
$('#save-password-changes').on('click', functionChangePassword)
$('.change-picture').on('click', functionOpenChangePicture)
});

</script>
{% endblock %}